@{
    ViewData["Title"] = "ContactUs";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

      
        
    <div class="row col-8" style="margin-left:120px" id="contact">
             <h1><strong>Contact Us</strong></h1><br />
             <i class="fa fa-facebook-f" style="font-size:24px"><a href="https://www.facebook.com/">Facebook</a></i>
             <i class="fa fa-envelope" style="font-size:24px"><a href="https://www.gmail.com/">mplearning12@gmail.com</a></i>
             <i class='fas fa-phone' style='font-size:24px'><span>9888658445,9867562301</span></i>
             <i class='fas fa-map-marker-alt' style='font-size:24px'><span>Gongabu,Kathmandu</span></i>
             

  
</div>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
    #contact
    {
        background-color:ghostwhite;
        height: 500px;
        width: 600px;
    }
    i a{
        margin-left:30px;
        color:cornflowerblue;
    }
    i span{
           margin-left:30px;
           color:cornflowerblue;
    }
    </style>
