@{
    ViewData["Title"] = "Courses";
}

<div class="text-center">
 
<h2><b>Courses Selection</b> </h2>

            <p  style="font-size:20px; font:bold;" >Select Course:</p>

<hr />

<div class="row">
    <div class="col-3">
        <ul class="list-group">
            <p  style="font-size:15px; font:bold;" >Write the Course ID:</p>
            
            <p  style="font-size:15px; font:bold;" >Write the Student ID:
           
           </p>
          
            <p  style="font-size:15px; font:bold;" >Select Course:
           
           </p>
          
        </ul>
    </div>
    <div class="col-4">
       
       
        <ul class="list-group">
           
         
               <input type="number" class="form-control" id="vno" placeholder="">
                <input type="number" class="form-control" id="vno" placeholder="">
                <select id="inputState" class="form-select">
              <option selected>Please Select</option>
             <option>...</option>
             </select>
                 
                <button type="submit" class="btn btn-primary" style="width:70px; ">Submit</button>
                <hr/>
                   <button type="submit" class="btn btn-primary" style="width:70px; ">Cancel</button>
        </ul>
    </div>
      
    </div>
  
       </div>
    
