@{
    ViewData["Title"] = "Add Student";
}

<div class="text-center">

 
<h2><b>Search for Student</b> </h2>
<hr/>
<div class="row">
    <div class="col-3">
        <ul class="list-group">
          
<p  style="font-size:20px; font:bold;" >Search by:</p>
   
    <p  style="font-size:20px; font:bold;" >Write the keyword:</p>
        </ul>
        </div>


    <div class="col-4">
       
       
        <ul class="list-group">
            
             <select id="inputState" class="form-select">
      <option selected>Please Select</option>
      <option>Email</option><option>ID</option><option>Name</option> <option>Phone</option>
    </select>
           </p>
           
               <input type="text" class="form-control" id="vno" placeholder="ANU">
               </p>
               <button type="submit" class="btn btn-primary" style="width:70px;">Search</button>
               <hr/>
                <button type="submit" class="btn btn-primary" style="width:70px; ">Cancel</button>
        </ul>
    </div>
    </div>
    </div>

              
    
